.container {
  padding: 5%;
}

.article-writer {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.writer-details {
  border-left: 2px solid #000;
}

.article-image {
  width: 80%;
  height: 80%;
}

p.article-text {
  width: 80%;
}

@media (max-width: 767px) {
  .writer-details {
    border: none;
    margin-top: 1rem;
  }
}
